body {
    font-family: 'Antonio', sans-serif;
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 60%;

}

.half-width p {
    color: rgba(128, 128, 128, 0.855);
    text-align: justify;
    width: 80%;
}

.showkhin-name-color {
    color: rgb(255, 145, 0);
}

.header-section {
    display: flex;
}

.hire-me-button {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 100, 92));
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.dream-big-section {
    display: flex;
    margin-top: 50px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.dream-text {
    margin-top: 80px;
}

.experiance-section {
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 150px;
}

.experiance-card-style {
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.458);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 90px;
    border-radius: 7px;
}

.footer-section {
    color: rgba(83, 83, 83, 0.732);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 15px;
}

#showkhin2-image {
    width: 80%;
}